%h1 Android Users

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Token
      %th State
      %th

  %tbody
    - @android_users.each do |android_user|
      %tr
        %td= android_user.id
        %td= android_user.token
        %td= android_user.state
        %td= admin_destroy_button(admin_android_user_path(android_user))
