%h1 Api Users

%hr

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Token
      %th State
      %th

  %tbody
    - @api_users.each do |api_user|
      %tr
        %td= api_user.id
        %td= api_user.token
        %td= api_user.state
        %td= admin_destroy_button(admin_api_user_path(api_user))
