.container.typo
  %h1 За прошедшие 30 дней

  %h2 События
  %div.chart{id: 'month', style:'width: 700px; height: 240px;'}
  = render_chart(@month, 'month')
  %br
  %br
  %h2 Самые активные пользователи
  %div.chart{id: 'users_month'}
  = render_chart(@users_month, 'users_month')
  %br
  %br
  %h2 Чаще всего происходит
  %div.chart{id: 'events'}
  = render_chart(@events, 'events')
