%h1 Listing ios_users

%table
  %tr
    %th Token
    %th State
    %th

  - @ios_users.each do |ios_user|
    %tr
      %td= ios_user.token
      %td= ios_user.state
      %td= link_to 'Destroy', admin_ios_user_path(ios_user), :method => :delete, :data => { :confirm => 'Are you sure?' }
