.send-form
  - if can_post_message?
    %h2.text-center Сообщить обстановку
    = simple_form_for @api_report, remote: true, url: city_reports_path(resource_city) do |f|
      %p Включите Javascript =)
    :javascript
      $(function() { React.renderComponent(PostForm(null), document.getElementById('new_report'));} );
  - else
    %h2 Недавно вы уже отпарвляли сообщение, подождите немного для отправки следующего
