.radio-block
  .container
    %h2 Мы в эфире радиостанций
    %h3 Нам пишут и нас читают
    .row
      .col-md-6
        .radio-card.left
          .image-wrap.pull-right
            .sectorable
            .image-bordered
              = image_tag('radio_2x2.png')
          .radio-fq
            Радио 2х2
            .fm 102.1 FM
      .col-md-6
        .radio-card.right
          .image-wrap.pull-left
            .sectorable
            .image-bordered
              = image_tag('radio_dorognoe.png')
          .radio-fq
            Дорожное радио
            .fm 103.5 FM
