.container.typo
  %h1 О проекте

  %p Городские дорожные докладаторы — некоммерческий проект, созданный в 2011 году инициативной группой автомобилистов в г.Ульяновск.

  %h2 Зачем это надо?
  %p Наша цель — оперативно донести до интернет-населения максимально достоверную ситуацию на городских улицах: пробки, аварии, ремонт, засады полиции и т.п. Это поможет сберечь время в пути и продумать оптимальные пути объезда.

  %h2 Как это работает

  %p О событиях сообщаете вы, наши пользователи. Любым привычным способом, предварительно выбрав город: отправив форму с нашего сайта, обратившись к твиттер-аккаунту или написав в городской хеш-тег. А получить информацию можно на сайте или подписавшись на твиттер-аккаунт — сообщения будут приходить в вашу ленту.
  %p Надеемся, мы будем полезны в вашей дорожно-городской жизни!
  %p Присоединяйтесь к нам прямо сейчас!

  %blockquote.pull-right
    %P
    С любовью,
    %br
    создатели проекта Waytag.ru
  .clearfix
