.row.cities-index-top
  %h1 Ваш город

.row.cities-index-content
  .col-md-2.col-md-offset-5
    - if @cities.any?
      .btn-group-vertical.btn-group-lg
        - @cities.each do |city|
          = link_to city_path(city), class: 'btn btn-default' do
            = city.name
