.cities-index
  %h1 Ваш город

  .svg-logo
    = image_tag("waytagpin.svg", class: "sticker")

    - if @cities.any?
      - @cities.each do |city|
        = link_to city_path(city) do
          %span.name
            = city.name
