/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require bootstrap-switch
 *= require_self
*/

html, body {
  height: 100%;
}
.main {
  min-height: 100%;
}
.base-content{
  padding-bottom: 60px;
}
footer{
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  margin-top: -40px;
  background-color: #efefef;
}
