!!!
%html
  %head
    = render 'layouts/web/shared/head'
    = include_gon
  %body
    .main.welcome
      .content
        .container-fluid
          = yield
    = render :partial => 'layouts/web/shared/footer'
