.container.typo
  %h1 О, бонусы!

  - if @bonuses.any?
    - @bonuses.each do |bonus|
      .bonus
        %h2= bonus.title
        %description!= markdown.render(bonus.description)
        %small.meta
          %date= bonus.created_at.strftime("%e %b %Y")

    = paginate @bonuses
  - else
    %p В вашем городе к сожалению пока нет бонусов для автомобилей с наклеечкой :(
    %p Не переживайте! Ведь скоро они обязательно появятся!
